.hide {
    display: none;
}
.img-logo {
    width: 200px;
    height: auto;
}
.logo {
    display: flex !important;
    justify-content: center !important;
}
.sidebar-wrapper{
    background: #320a57 !important;
}
.sidebar{
    background: #320a57 !important;
    border-radius: 10px !important;
}